{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "Components": "./components",
          "Store": "./store",
          "Pages": "./pages",
          "Services": "./services",
          "Utils": "./utils"
        }
      }
    ]
  ]
}
